:root {
    --bg-color: rgb(3, 3, 3);
    --text-white: rgb(255, 255, 255);
    --italic: italic;
    --size: 50%;
    --half-size: 25%;
    --wide-line: 4px;
    
    
    
}

body {
    background-color: var(--bg-color);
    color: var(--text-white);
    font-style: var(--italic);
    
}

h1 {

    text-align: center;
    font-weight: bold;

}

img {
    width: var(--size);

    margin-left: var(--half-size);
    
}

span {
    background-color: rgb(236, 236, 14);
    color: var(--bg-color);
    text-decoration: underline;
}

span:hover {

    color: rgb(241, 4, 4);
    background-color: initial;
    text-transform: uppercase;
    font-weight: bolder;
}

.round_border {

    border-color: var(--text-white);

    border-style: dotted;

    border-radius: var(--size);
}

hr {
    height: var(--wide-line);
}